{% extends 'sidebar.html' %}
{% load static %}

{% block estilos %}
<link href="{% static 'css/inicio.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

  <div class="container">
    <br><h1>Bienvenido al Sistema de Control de Seguridad de la Información</h1><hr><br>
    <svg xmlns="http://www.w3.org/2000/svg" width="250" height="250" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
      <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
    </svg>
    <p>Hola se bienvenid@ {{usuario}}</p><br>
    
    <a type="button" class="btn btn-primary mb-2" href="{% url 'setup_2fa' %}">
      Codigo QR de 2FA
    </a>
  </div>

{% endblock %}